<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.scheduler">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <tools:validation testUrl="http://schedulemanager.com/scheduleManager" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="schedulemanager.com"
                    android:pathPrefix="/scheduleManager" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".settings.ScheduleEditorActivity"
            android:label="@string/schedule_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsActivity">
            <intent-filter>
                <action android:name="com.scheduler.settings.ScheduleEditorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.LoginActivity"
            android:label="Scheduler"
            android:theme="@style/AppTheme.Blue"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name=".authentication.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".firstSetting.FirstSettingActivity"
            android:label="Welcome"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".firstSetting.ChooseDatabaseActivity"
            android:theme="@style/AppTheme.Blue">
            <intent-filter>
                <action android:name=".firstSetting.ChooseDatabaseActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".firstSetting.ScheduleEditorStartActivity" />

        <activity
            android:name=".settings.ScheduleEditor"
            android:label="@string/schedule_settings">
            <intent-filter>
                <action android:name=".settings.ScheduleEditor" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>